root = true

[*]
charset = utf-8
indent_style = space

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.kt]
indent_size = 4
max_line_length = 160

# Comma-separated list of rules to disable for KtLint (Since 0.34.0)
# Note that rules in any ruleset other than the standard ruleset will need to be prefixed
# by the ruleset identifier.
disabled_rules = no-wildcard-imports, experimental:annotation

[*.{yaml,yml}]
indent_size = 2